@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
    --primary:#DCD1CB;
    --second:#211610;
    --third:#6F4026;
    --room:#FEFFFD;
    --fifth:#F4EBE2;
    

}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: var(--primary);
    margin: 0;
    padding: 0;
    
}
nav {
    font-family: 'Roboto', sans-serif;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    top: 0;
    position: sticky;
    background-color: var(--primary);
    z-index: 100;
    /* border-bottom: 2px solid var(--third); */
    width: 100%;
}

.logo {
    margin-left: 20px;
    height: 60px;
}

ul {
    display: flex;
    font-size: 18px;
    position: relative;
}

li {
    padding-inline: 30px;
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--third);
}

.botao_login {
    font-family: "Roboto", sans-serif;
    height: 46px;
    width: 150px;
    border-radius: 500px;
    background-color: #6F4026;
    color: #FEFFFD;
    border: 0px;
    font-size: 20px;
    margin-right: 20px;
    letter-spacing: 1px;
    font-weight: 300;
}

.botao_login:hover {
    background-color: var(--fifth);
    border: 2px solid var(--third);
    color: var(--third);
}

.containerHome {
    background-color: var(--third);
    border: #211610;
    padding: 100px 20px;
    text-align: center;
}

.containerHome h1 {
    font-family: 'Cinzel', serif;
    font-size: 48px;
    color: var(--primary);
    margin-bottom: 20px;
}

.containerHome p {
    font-size: 24px;
    color: var(--primary);
    margin-bottom: 40px;

}

.senseIA{
    width: 80%;
    margin: 50px auto;
    text-align: center;
    background: var(--second);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.senseIA{
    width: 80%;
    margin: 50px auto;
    text-align: center;
    background: var(--fifth);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.senseIA h1{
    font-size: 24px;
    color: var(--second);

}
.senseIA h2{
    font-size: 20px;
    color: var(--second);

}
.perguntasFrequentes {
    background: var(--fifth);
    padding: 50px 0;
}
.perguntasFrequentes h2 {
    color: var(--second);
    font-size: 24px;

}

.perguntas-lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.pergunta {
    width: calc(50% - 20px);
    margin-bottom: 30px;
    padding: 20px;
    margin-left: 10px;
    margin-right: 10px;

    background-color: var(--room);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.pergunta:hover {
    transform: translateY(-5px);
}

.pergunta h3 {
    color: var(--third);
    font-size: 20px;
    margin-bottom: 10px;
}

.pergunta p {
    color: var(--second);
    font-size: 15px;
    line-height: 1.6;
}

textarea[type="text"] {
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
    width: 400px;
    background: var(--fifth);
    border: 2px solid var(--third);
}

select,
button {
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

button {
    background-color: var(--fifth);
    color: var(--third);
    border: 2px solid var(--third);
}

button:hover {
    background-color: var(--third);
    border: 2px solid var(--fifth);
    color: var(--fifth);
}

#resposta {
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    background-color: var(--third);
    border: 1px solid var(--second);
    color: var(--room);
    text-align: left;
    display: none;
}
.perguntasFrequentes {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    color: #6F4026;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 1px;
    flex-direction: column;
    text-align: center;
}

footer {
    background-color: var(--third);
    color: var(--fifth);
    padding: 20px 0;
    text-align: center;
    bottom: 0;
    width: 100%;
}
/* 
.custom-select {
	position: relative
;
}

.custom-select select {
	appearance: none;
	-webkit-appearance: none;
	width: auto;
	font-size: 20px;
	padding: 11px 10px 11px 10px;
	background-color: #6F4026;
	border: 2px solid #211610;
	border-radius: 5px;
	color: #F4EBE2;
	cursor: pointer;
	outline: none;
    text-align: center;
	box-shadow: 3px 3px 2px 0px #E2E2E2;
}

.custom-select select:focus {
	background: #6F4026;
	border: 2px solid #F4EBE2;
	border-radius: 5px;
	border: 2px solid #211610;

}

.custom-select::after {
	content: "";
	position: absolute;
	pointer-events: none;
	top: 50%;
	right: 710px;
	transform: translate(0, -50%);
	width: 19px;
	height: 19px;
	background-color: #F4EBE2;
	clip-path: polygon(50% 80%, 0 20%, 100% 20%);
	border: 2px solid #211610;

} */

/* #container {
    width: 80%;
    margin: 50px auto;
    text-align: center;
}

h1,h3 {
    color: var(--third);
} */
