@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
    --primary:#DCD1CB;
    --second:#211610;
    --third:#6F4026;
    --room:#FEFFFD;
    --fifth:#F4EBE2;
    

}

body {
    font-family: "Roboto", sans-serif;
    background-color: var(--primary);
    margin: 0;
    padding: 0;
    
}


nav{
    font-family: "Roboto", sans-serif;
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    padding: 20px;
    top: 0;
    position: sticky;
    background-color: var(--primary);
    z-index: 100;
    width: 100%;
    gap: 50%;
    border-bottom: 2px solid var(--third);
}
/* nav {
    font-family: "Roboto", sans-serif;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    top: 0;
    position: sticky;
    background-color: #F4EBE2;
    z-index: 100;
} */
  

.logo {
    height: 60px;
    margin-left: 60px ;
}

.botao_login {
    font-family: "Roboto", sans-serif;
    height: 46px;
    width: 150px;
    border-radius: 5px;
    background-color: #6F4026;
    color: #FEFFFD;
    border: 0px;
    font-size: 20px;
    margin-right: 20px;
    letter-spacing: 1px;
    font-weight: 300;
}

.botao_login:hover{
    background-color: var(--fifth);
    border: 2px solid var(--third);
    color: var(--third);
}





#container {
    width: 80%;
    margin: 50px auto;
    text-align: center;
}

h1,h3 {
    color: var(--third);
}


textarea[type="text"] {
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
    width: 400px;
    background: var(--fifth);
    border: 2px solid var(--third);
}

select,
button {
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

button {
    background-color: var(--fifth);
    color: var(--third);
    border: 2px solid var(--third);
}

button:hover {
    background-color: var(--third);
    border: 2px solid var(--fifth);
    color: var(--fifth);
}

#resposta {
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    background-color: var(--third);
    border: 1px solid var(--second);
    color: var(--room);
    text-align: left;
    display: none;
}

.perguntasFrequentes {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    color:#6F4026;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 1px;
    flex-direction: column;
    text-align: center;
}

.custom-select {
	position: relative
;
}

.custom-select select {
	appearance: none;
	-webkit-appearance: none;
	width: auto;
	font-size: 20px;
	padding: 11px 10px 11px 10px;
	background-color: #6F4026;
	border: 2px solid #211610;
	border-radius: 5px;
	color: #F4EBE2;
	cursor: pointer;
	outline: none;
    text-align: center;
	box-shadow: 3px 3px 2px 0px #E2E2E2;
}

.custom-select select:focus {
	background: #6F4026;
	border: 2px solid #F4EBE2;
	border-radius: 5px;
	border: 2px solid #211610;

}

.custom-select::after {
	content: "";
	position: absolute;
	pointer-events: none;
	top: 50%;
	right: 710px;
	transform: translate(0, -50%);
	width: 19px;
	height: 19px;
	background-color: #F4EBE2;
	clip-path: polygon(50% 80%, 0 20%, 100% 20%);
	border: 2px solid #211610;

}