@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


body{
    background-color: #F4EBE2;
    margin: 0;
}


.logo{
    margin-left: 20px;
    height: 82px;
}

/* mexendo na navbar */
nav{
    font-family: "Roboto", sans-serif;
    align-items: center ;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
}

ul {
    display: flex;
}

nav ul li {
    color: #6F4026;
    font-size: 17px;
    display: flex;
    padding-inline: 30px;
    list-style: none; 
}


.botao_login {
    font-family: "Roboto", sans-serif;
    height: 40px;
    width: 150px;
    border-radius: 10px;
    background-color: #6F4026;
    color: #FEFFFD;
    border: 0px;
    font-size: 17px;
    margin-right: 20px;
}

/* FIM NAVBAR */

/* Inicio HOME */
.home_esquerda h1 {
    font-size: 45px;
    font-family: "Cinzel", serif;
    color: #6F4026;
    word-wrap: break-word;
    width: 531px;
    font-weight: normal;
    margin-left: 45px;

}

.home_esquerda p {
    font-weight: 300;
    font-family: "Roboto", sans-serif;
    color: #6F4026;
    word-wrap: break-word;
    width: 686px;
    font-size: 25px;
    margin-left: 45px;
}

.botao_registro {
    font-family: "Roboto", sans-serif;
    height: 40px;
    width: 150px;
    border-radius: 10px;
    background-color: #6F4026;
    color: #FEFFFD;
    border: 0px;
    font-size: 17px;
    margin-right: 20px;
    margin-left: 45px;
}

.home {
    display: flex;
    justify-content: space-between;
}

.home_esquerda{
    width: 50%;
}

.home_direita{
    width: 50%;
}

.imgPrincipalHome{
    top: 146px;
    height: 503px;
    width: 545px;
    left: 780px;
    margin-left: 60px;
}

/* FIM HOME */
/* começo grãos */

/* .graos_servicos{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    margin: 0;
    padding: 0;
} */
.graos{
    display: flex;
    justify-content: space-between;
    background-color: #6F4026;
}

.graos_esquerda img {
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 373px;
    height: 289px;
    top: 784px;
    
}

.graos_meio{
    font-family: "Cinzel", serif;
    color: #FEFFFD;
    word-wrap: break-word;
    font-weight: 100;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    display: flex;
    margin-top: 25px;
    
}

.graos_meio h3 {
    font-family: "Cinzel", serif;
    color: #FEFFFD;
    word-wrap: break-word;
    font-weight: 400;
    font-size: 25px;
}

.graos_meio img {
    align-items: center;
    width: 126px;
}

.graos_meio h1 {
    font-family: "Cinzel", serif;
    color: #FEFFFD;
    word-wrap: break-word;
    font-weight: 400;
    font-size: 30px;
}

.cards {
    display: flex;
    flex-direction: row;
    /* position: absolute; */
    position: absolute; 
    margin-top: 150px;
    
}


.cardArabica{
    margin-left: 48px;
    margin: 48px;
}

.cardRobusta{
    margin-left: 48px;
    margin: 48px;
}


.cardArabica,
.cardRobusta {
    width: 320px;
    height: 280px;
    border-radius: 15px;
    background-color: #F4EBE2;
    box-shadow: #F4EBE2(0, 0, 0, 0.4) 0px 2px 4px, #F4EBE2(0, 0, 0, 0.3) 0px 7px 13px -3px, #F4EBE2(0, 0, 0, 0.2) 0px -3px 0px inset;
    margin-right: 35px; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    z-index: 99px;
    
    /* border-top: 100px;     */
}

.cardArabica h1{
    font-family: "Cinzel", serif;
    color: #6F4026;
    font-size: 22px;
    font-weight: 400;
    text-align: center;
}

.cardArabica h3 {
    font-family: "Roboto", sans-serif;
    color: #6F4026;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}


.cardRobusta h1{
    font-family: "Cinzel", serif;
    color: #6F4026;
    font-size: 22px;
    font-weight: 400;
    text-align: center;
}

.cardRobusta h3 {
    font-family: "Roboto", sans-serif;
    color: #6F4026;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}


.graos_direita  img {
    /* invertendo a imagem */
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);

    align-items: center;
    margin-top: 40px;
    margin-bottom: 30px;

    width: 373px;
    height: 289px;
    top: 784px;
}

/* FIM GRÃOS */

/* COMEÇO SERVIÇOS */
.servicos {

    font-family: "Cinzel", serif;
    color: #FEFFFD;
    word-wrap: break-word;
    font-weight: 100;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    display: flex;
    margin-top: 25px;
}

.servicos h1 {
    font-family: "Cinzel", serif;
    color: #6F4026;
    word-wrap: break-word;
    font-weight: 400;
    font-size: 30px;
    text-align: center;
    margin-top: 150px;
}

.servicos img {
    align-items: center;
    width: 126px;
    color: #6F4026;
}

.servicos p {
    font-weight: 300;
    font-family: "Roboto", sans-serif;
    color: #6F4026;
    word-wrap: break-word;
    width: 686px;
    font-size: 25px;
    margin-left: 45px;
    text-align: center;
}


.graos_servicos{
    display: flex;
    flex-direction: row;
}


.cards_servicos {
    display: flex;
    flex-direction: row; 
    margin: 40px;
    padding-left: 41px;
}

.card1,
.card2,
.card3 {
    width: 376px;
    height: 235px;
    /* border-radius: 15px; */
    background-color: #BE9B87;
    margin-right: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}




.graos_servicos{
    display: flex;
    flex-direction: column;
}

.descricao_servicos{
    display: flex;
    flex-direction: row;
    margin: 40px;
    align-items: center;
    justify-content: space-evenly;
}

.descricao_servicos h1{
    font-family: "Cinzel", serif;
    color: #6F4026;
    word-wrap: break-word;
    font-weight: 400;
    font-size: 40px;

}

.descricao_servicos p{
    font-weight: 300;
    font-family: "Roboto", sans-serif;
    color: #6F4026;
    word-wrap: break-word;
    font-size: 20px;  
}

.descricao_servicos h3{
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    color: #6F4026;
    word-wrap: break-word;
    font-size: 20px;  
}


/* COMEÇO SOBRE */

.sobre_nos{
    display: flex;
    justify-content: space-between;
}

.sobre_direita img{
     /* invertendo a imagem */
     -moz-transform: scaleX(-1);
     -o-transform: scaleX(-1);
     -webkit-transform: scaleX(-1);
     transform: scaleX(-1);

     margin-top: -179px;
}

.sobre_esquerda img{
    margin-top: -179px;
}

.sobre_nos h1{
    font-family: "Cinzel", serif;
    color: #6F4026;
    word-wrap: break-word;
    font-weight: 400;
    font-size: 40px;
}

.sobre_nos h3{
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    color: #6F4026;
    word-wrap: break-word;
    font-size: 30px;  
}

.sobre_meio{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 179px;
}

.sobre_meio img{
    align-items: center;
    width: 126px;
}

.sobre_baixo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.sobre_baixo img{
    width: 800px;
    height: 500px;
    flex: 1;
}

.sobre_baixo p{
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    color: #6F4026;
    word-wrap: break-word;
    font-size: 20px;  
    flex: 1;
    margin-left: 20px;
    text-align: justify;
    width: 200px;
    word-wrap: break-word;
}