@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html {
    scroll-behavior: smooth;
}

body{
    background-color: #F4EBE2;
    /* margin: 0; */
    overflow-x: hidden;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    scroll-behavior: smooth;
  }

::-webkit-scrollbar-track{
    background-color: transparent;
  }
  
  ::-webkit-scrollbar{
    width: 10px;
    color: #6F4026;
  }
  
  ::-webkit-scrollbar-thumb{
    background-color: #6F4026;
    border-radius: 99px
  }

.logo{
    margin-left: 20px;
    height: 60px;
}

/* mexendo na navbar */
nav{
    font-family: "Roboto", sans-serif;
    align-items: center ;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    top: 0;
    position: sticky;
    background-color: #F4EBE2;
    z-index: 100;
    border-bottom: 2px solid #6F4026;
}

ul {
    display: flex;
}

nav ul li {
    color: #6F4026;
    font-size: 18px;
    display: flex;
    padding-inline: 30px;
    list-style: none; 
    position: relative;
}

.nav-calculadora{
    text-decoration: none;
    color: #6F4026;
}

.nav-link {
    text-decoration: none;
    color: #6F4026;
}

nav ul li::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -5px; 
    height: 2px; 
    width: 0; 
    background-color: currentColor; 
    transition: width 0.3s ease, left 0.3s ease; 
    transform: translateX(0%); 
}

nav ul li:hover::after {
    width: calc(100% - 60px); 
    left: 30px; 
    text-decoration: underline;
}

.botao_login {
    height: 50px;
    width: 150px;
    outline: none;
    cursor: pointer;
    border: none;
    padding: 0.9rem 2rem;
    margin: 0;
    font-weight: 300;
    font-family: "Roboto", sans-serif;
    font-size: 25px;
    position: relative;
    display: inline-block;
    letter-spacing: 0.05rem;
    font-weight: 700;
    font-size: 17px;
    border-radius: 500px;
    overflow: hidden;
    background: #BE9B87;
    color: #F4EBE2;
   }
   
.botao_login span {
    position: relative;
    z-index: 10;
    transition: color 0.4s;
   }
   
.botao_login:hover span {
    color: #F4EBE2;
   }
   
.botao_login::before,
.botao_login::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
   }
   
.botao_login::before {
    content: "";
    background: #6F4026;
    width: 120%;
    left: -10%;
    transform: skew(30deg);
    transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
    
   }
   
.botao_login:hover::before {
    transform: translate3d(100%, 0, 0);
   }
   

/* FIM NAVBAR */

/* Inicio HOME */
.home_esquerda h1 {
    font-size: 45px;
    font-family: "Cinzel", serif;
    color: #6F4026;
    word-wrap: break-word;
    width: 531px;
    font-weight: normal;
    margin-left: 45px;

}

.home_esquerda p {
    font-weight: 300;
    font-family: "Roboto", sans-serif;
    color: rgba(111, 64, 38, 0.7);
    word-wrap: break-word;
    width: 686px;
    font-size: 25px;
    margin-left: 45px;
    text-align: left; /* Justificar o texto à esquerda */
}

.botao_registro {
    height: 55px;
    width: 160px;
    outline: none;
    cursor: pointer;
    border: none;
    padding: 0.9rem 2rem;
    margin: 0;
    font-weight: 300;
    font-family: "Roboto", sans-serif;
    font-size: 25px;
    position: relative;
    display: inline-block;
    letter-spacing: 0.05rem;
    font-weight: 700;
    font-size: 17px;
    border-radius: 500px;
    overflow: hidden;
    background: #BE9B87;
    color: #F4EBE2;
    margin-left: 45px;
   }
   
.botao_registro span {
    position: relative;
    z-index: 10;
    transition: color 0.4s;
   }
   
.botao_registro:hover span {
    color: #F4EBE2;
   }
   
.botao_registro::before,
.botao_registro::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
   }
   
.botao_registro::before {
    content: "";
    background: #6F4026;
    width: 120%;
    left: -10%;
    transform: skew(30deg);
    transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
    
   }
   
.botao_registro:hover::before {
    transform: translate3d(100%, 0, 0);
   }

.home {
    display: flex;
    justify-content: space-between;
}

.home_esquerda{
    width: 50%;
}

.home_direita{
    width: 50%;
}

.imgPrincipalHome{
    top: 146px;
    height: 480px;
    width: 545px;
    left: 780px;
    margin-left: 90px;
    margin-top: 30px;
}

/* FIM HOME */
/* começo grãos */

.graos_servicos{
    margin-top: 4%;
} 
.graos{
    display: flex;
    justify-content: space-between;
    background-color: #6F4026;
}

.graos_esquerda img {
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 373px;
    height: 289px;
    top: 784px;
    
}

.graos_meio{
    font-family: "Cinzel", serif;
    color: #FEFFFD;
    word-wrap: break-word;
    font-weight: 100;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    display: flex;
    margin-top: 25px;
    text-align: center;
    
}

.graos_meio h3 {
    font-family: "Cinzel", serif;
    color: #FEFFFD;
    word-wrap: break-word;
    font-weight: 400;
    font-size: 25px;
}

.graos_meio img {
    align-items: center;
    width: 126px;
}

.graos_meio h1 {
    font-family: "Cinzel", serif;
    color: #FEFFFD;
    word-wrap: break-word;
    font-weight: 400;
    font-size: 30px;
}

.graos_meio h3{
    font-family: "Cinzel", serif;
}

.cards {
    display: flex;
    flex-direction: row;
    /* position: absolute; */
    position: absolute; 
    margin-top: 150px;
    
}


.cardArabica{
    margin-left: 48px;
    margin: 48px;
}

.cardRobusta{
    margin-left: 48px;
    margin: 48px;
}


.cardArabica,
.cardRobusta {
    width: 320px;
    height: 280px;
    border-radius: 15px;
    background-color: #F4EBE2;
    box-shadow: #F4EBE2(0, 0, 0, 0.4) 0px 2px 4px, #F4EBE2(0, 0, 0, 0.3) 0px 7px 13px -3px, #F4EBE2(0, 0, 0, 0.2) 0px -3px 0px inset;
    margin-right: 35px; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    z-index: 99;
    
    /* border-top: 100px;     */
}

.cardArabica h1{
    font-family: "Cinzel", serif;
    color: #6F4026;
    font-size: 22px;
    font-weight: 400;
    text-align: center;
}

.cardArabica h3 {
    font-family: "Roboto", sans-serif;
    color: #6F4026;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}


.cardRobusta h1{
    font-family: "Cinzel", serif;
    color: #6F4026;
    font-size: 22px;
    font-weight: 400;
    text-align: center;
}

.cardRobusta h3 {
    font-family: "Roboto", sans-serif;
    color: #6F4026;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}


.graos_direita  img {
    /* invertendo a imagem */
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);

    align-items: center;
    margin-top: 40px;
    margin-bottom: 30px;

    width: 373px;
    height: 289px;
    top: 784px;
}

/* FIM GRÃOS */

/* COMEÇO SERVIÇOS */
.servicos {

    font-family: "Cinzel", serif;
    color: #FEFFFD;
    word-wrap: break-word;
    font-weight: 100;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    display: flex;
    margin-top: 175px;
}

.servicos h1 {
    font-family: "Cinzel", serif;
    color: #6F4026;
    word-wrap: break-word;
    font-weight: 400;
    font-size: 30px;
    text-align: center;
    /* margin-top: 150px; */
}

.servicos img {
    align-items: center;
    width: 126px;
    color: #6F4026;
}

.servicos p {
    font-weight: 300;
    font-family: "Roboto", sans-serif;
    color: #6F4026;
    word-wrap: break-word;
    width: 686px;
    font-size: 25px;
    margin-left: 45px;
    text-align: center;
}


.graos_servicos{
    display: flex;
    flex-direction: row;
}




.graos_servicos{
    display: flex;
    flex-direction: column;
}

.cards_servicos{
    height: 400px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap:3%;
}
.cards_container{
    margin-top: 100px;
    height: 400px;
    width: 30%;
    /* background-color: rgb(255, 255, 255); */
    margin-bottom: 100px;
  
}  


.gif_wifi {
    width: 100%;
    margin-top: 25px;
    margin-left: 125px;
    transform: rotate(90deg);
}

.cards_picture{
    height: 45%;
    width: 100%;
    background-color: #BE9B87;
}

.cards_text{
    display: flex;
    /* justify-content: center; */
    align-items: flex-start;
    flex-direction: column;
    height: 70px;
    
}



.span_text {
    font-weight: 300;
    font-family: "Roboto", sans-serif;
    color: #6F4026;
    word-wrap: break-word;
    width: 686px;
    font-size: 20px;
    /* margin-left: 45px; */
    align-items: center;
    /* justify-content: center; */
    
}

.cards_text h1{
    text-align: left;
    font-size: 20px;
}

.cards_text h3{
    font-family: "Roboto", sans-serif;
    color: #6F4026;
    font-size: 15px;
    font-weight: 400;
    /* text-align: center; */
}

/* COMEÇO SOBRE */

.sobre_nos{
    display: flex;
    justify-content: space-between;
}

.sobre_direita img{
     /* invertendo a imagem */
     -moz-transform: scaleX(-1);
     -o-transform: scaleX(-1);
     -webkit-transform: scaleX(-1);
     transform: scaleX(-1);

     margin-top: -179px;
}

.sobre_esquerda img{
    margin-top: -179px;
}

.sobre_nos h1{
    font-family: "Cinzel", serif;
    color: #6F4026;
    word-wrap: break-word;
    font-weight: 400;
    font-size: 40px;
}

.sobre_nos h3{
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    color: #6F4026;
    word-wrap: break-word;
    font-size: 30px;  
}

.sobre_meio{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    margin-top: 130px;
}

.sobre_meio img{
    align-items: center;
    width: 135px;
}

.sobre_baixo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.sobre_baixo img{
    width: 708px;
    height: 472px;
    flex: 1;
}

.sobre_baixo p{
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    color: #6F4026;
    word-wrap: break-word;
    font-size: 20px;  
    flex: 1;
    margin-right: 20px;
    text-align: justify;
    width: 200px;
}

/* CONTATO */
.texto_superior {
    font-family: "Cinzel", serif;
    color: #6F4026;
    font-size: 30px;
    font-weight: 400;
    margin-top: 40px; 
    margin-left: 65%;
    margin-bottom: 30px;
    position: relative; 
}

.texto_superior img {
    position: absolute; 
    top: 100%; 
    margin-top: 2%;
    left: 25%; 
    transform: translateX(-50%); 
}
.mae_contato{
    margin-top: 60px;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 90px;
}

.contato_esquerda{
    width: 50%;
    display: flex;
}

.form-container {
    width: 50%;
    height: auto;
    background: linear-gradient(#D8B29D
    , #D8B29D) padding-box,linear-gradient(145deg, transparent 35%,#32160B, #6F4026    ) border-box;
    border: 2px solid #6F4026;
    padding: 32px 24px;
    font-size: 14px;
    font-family: inherit;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-sizing: border-box;
    margin-right: 20px;
    justify-content: center; 
    align-items: center; 
  }
  
  .form-container button:active {
    scale: 0.95;
  }
  
  .form-container .form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .form-container .form-group {
    display: flex;
    flex-direction: column;
    /* gap: 40px; */
  }

  .form-group p {
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    color: #6F4026;
    word-wrap: break-word;
    font-size: 20px;  
    flex: 1;
    margin-right: 20px;
    text-align: justify;
    width: 200px;
  }
  
  .form-container .form-group  ::placeholder {
    display: block;
    margin-right: 10px;
    margin-bottom: 5px;
    color: #160B00;
    font-weight: 600;
    font-size: 12px;
    font-family: "Roboto", sans-serif;
  }
  
  .form-container .form-group input {
    width: 100%;
    padding: 12px 16px;
    color:#160B00;
    font-weight: 400;
    font-family: inherit;
    background-color: transparent;
    border: 2px solid rgba(111, 64, 38, 0.7);
    border-radius: 5px;
    font-size: 21px; 
}
  
  .form-container .form-group textarea {
    width: 100%;
    padding: 12px 10px;
    color:#160B00;
    font-weight: 400;
    font-family: inherit;
    background-color: transparent;
    border: 2px solid rgba(111, 64, 38, 0.7);
    border-radius: 5px;
    font-size: 17px; 
  }

 

  
  .form-container .form-group input::placeholder {
    margin-right: 10px;
    margin-bottom: 5px;
    color: rgba(22, 11, 0, 0.8); 
    font-weight: 400;
    font-size: 17px;
    font-family: "Roboto", sans-serif;
    text-align: left; 
    opacity: 50%;
}
  
  .form-container .form-group input:focus {
    outline: none;
    border-color: #F4EBE2;
  }
  
  .form-container .form-group textarea:focus {
    outline: none;
    border-color: #F4EBE2;
  }
  
  .form-container .form-submit-btn {
    display: flex;
    align-items: center;
    justify-content: center; 
    align-self: flex-start;
    font-family: "Roboto", sans-serif;
    color: #F4EBE2;
    font-weight: 400;
    width: 217px; 
    height: 60px; 
    border-radius: 5px;
    background: transparent;
    border: 2px solid rgba(111, 64, 38, 0.7);
    padding: 12px 16px;
    font-size: 21px; 
    gap: 8px;
    margin-top: 10px;
    margin-left: auto; 
}

  .form-container .form-submit-btn:hover {
    background-color: #F4EBE2;
    border-color: #F4EBE2;
    color: #6F4026;
    border: 2px solid #6F4026
  }
  


  .form-container .form-submit-btn {
    height: 50px;
    width: 150px;
    outline: none;
    cursor: pointer;
    border: none;
    padding: 0.9rem 2rem;
    margin: 0;
    font-weight: 300;
    font-family: "Roboto", sans-serif;
    font-size: 25px;
    position: relative;
    display: inline-block;
    letter-spacing: 0.05rem;
    font-weight: 700;
    font-size: 17px;
    border-radius: 500px;
    overflow: hidden;
    background: #BE9B87;
    color: #F4EBE2;
   }
   
.form-container .form-submit-btn span {
    position: relative;
    z-index: 10;
    transition: color 0.4s;
   }
   
   .form-container .form-submit-btn:hover span {
    color: #6F4026;
   }
   
   .form-container .form-submit-btn::before,
   .form-container .form-submit-btn::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
   }
   
   .form-container .form-submit-btn::before {
    content: "";
    background: #6F4026;
    width: 120%;
    left: -10%;
    transform: skew(30deg);
    transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
    
   }
   
   .form-container .form-submit-btn:hover::before {
    transform: translate3d(100%, 0, 0);
   }
 
  /* Começo footer */

  footer {
    background-color: #6F4026;
    color: #F4EBE2;
    padding: 20px 100px;
    display: flex;
   flex-direction: column;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 20px;
    border-bottom: 2px solid #F4EBE2;
  }
  
  .footer-section {
    flex: 1;
    margin: 10px;
  }
  
  .footer-section h4 {
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: 300;
    font-family: "Roboto", sans-serif;
    color:#F4EBE2
  }
  
  .footer-section ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-section ul li {
    margin-bottom: 5px;
  }
  
  .footer-section ul li a {
    color: #F4EBE2;
    text-decoration: none;
  }
  
  .footer-section ul li a:hover {
    text-decoration: underline;
  }
  
  .social-icons {
    display: flex;
    gap: 10px;
  }
  
  .fa-brands .fa-instagram{
    font-size: 40px;
  }
  
  .social-icon {
    color: #F4EBE2;
    text-decoration: none;
    font-weight: bold;
  }
  
  .footer-bottom {
    text-align: center;
    padding-top: 10px;
  }
  
  .footer-bottom p {
    margin: 0;
  }