
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');








* {

    margin: 0;

    padding: 0;

}

::-webkit-scrollbar-track{
    background-color: transparent;
  }
  
  ::-webkit-scrollbar{
    width: 10px;
    color: #6F4026;
  }
  
  ::-webkit-scrollbar-thumb{
    background-color: #6F4026;
    border-radius: 99px
  }


body {

    background-color: #F4EBE2;

    overflow-x: hidden;

}




.texto_inicial p {

    display: flex;

    font-size: 30px;

    font-family: "Cinzel", serif;

    flex-direction: row;

    margin-top: 28px;

    margin-left: 30px;




}

.botao_sair {
    height: 50px;
    width: 150px;
    outline: none;
    cursor: pointer;
    border: none;
    padding: 0.9rem 2rem;
    margin: 0;
    font-weight: 300;
    font-family: "Roboto", sans-serif;
    font-size: 25px;
    position: relative;
    display: inline-block;
    letter-spacing: 0.05rem;
    font-weight: 700;
    font-size: 17px;
    border-radius: 500px;
    overflow: hidden;
    background: #BE9B87;
    color: #F4EBE2;
   }
   
.botao_sair span {
    position: relative;
    z-index: 10;
    transition: color 0.4s;
   }
   
.botao_sair:hover span {
    color: #F4EBE2;
   }
   
.botao_sair::before,
.botao_sair::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
   }
   
.botao_sair::before {
    content: "";
    background: #6F4026;
    width: 120%;
    left: -10%;
    transform: skew(30deg);
    transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
    
   }
   
.botao_sair:hover::before {
    transform: translate3d(100%, 0, 0);
   }

#b_usuario{
    font-size: 30px;
    font-family: "Cinzel", serif;
    margin-left: 10px;
    font-weight: 500;
  }


.subtitulo p {

    display: flex;

    font-size: 20px;

    font-family: "Roboto", sans-serif;

    margin-top: 15px;

    margin-left: 30px;

}




.sessao {

    display: flex;

    width: 100%;

    justify-content: center;




}




.parametro {

display: flex;

width: 600px;

height: 146px;

background-color: #D2BBB4;

margin-top: 46px;

flex-direction: column;

}




.parametro p{

    font-size: 20px;

    color: #421C13;

    font-family: "Roboto", sans-serif;

    margin-left: 9px;

    margin-top: 5px;

}




.container_alerta{

    display: flex;

    flex-direction: row;

    width: 100%;

    height: 105px;

    background-color: #D9D9D9;

    margin-top: 12px;




}

.alerta{

    display: flex;

    width: 220px;

    height: 105px;

    background-color: #FFEE58;

    align-items: center;

    flex-direction: column;

    justify-content:space-evenly;

}

.ideal{

    display: flex;

    width: 220px;

    height: 105px;

    background-color: #9CCC65;

    align-items: center;

    flex-direction: column;

    justify-content:space-evenly;

}

.perigo{

    display: flex;

    width: 220px;

    height: 105px;

    background-color: #FF7043;

    align-items: center;

    flex-direction: column;

    justify-content:space-evenly;

}

.container_armazem {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 1em;
    margin-top: 5em;
    margin-bottom: 5em;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.armazem {
    display: flex;
    width: 600px;
    height: 283px;
    border-radius: 5px;
    background-color: #DACAC5;
    border: solid 2px #421C13;
    margin-top: 6%;
}

.armazem {
    display: flex;
    width: 600px;
    height: 283px;
    border-radius: 5px;
    background-color: #DACAC5;
    border: solid 2px #421C13;
    margin-top: 6%;
    transition: 1s;
}

.armazem:hover {
    transform: translateY(-10px);
    transition:1s;
    cursor: pointer;
}


.container_status {
    display: flex;
    margin-left: 8px;
    margin-top: 11px;
    flex-direction: row;
    width: 100%;
}

.container_status .ball {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: green;
    animation: pulse 1.5s infinite; 
}


@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(1.2);
        opacity: 0.7;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.container_status p {
    margin-top: 10px;
    margin-left: 17%;
    color: #421C13;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 18px;
}





.alerts{

    display: flex;

    flex-direction: row;

    gap: 10px;

}

