@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    background-color: #F4EBE2;
    margin: 0;
    flex-direction: column;
}

.total {
    display: flex;

    width: 100%;
    height: 100%;
}

.painel {
    display: flex;
    background-color: #B8937D;
    width: 20%;
    flex-direction: column;
    height: 100%;

}

.logoPainel {
    display: flex;
    justify-content: center;
    width: 130px;
    height: 62px;
    align-items: center;
    margin-top: 35px;
    margin-bottom: 50px;
}

.painel h2 {
    font-family: "Roboto", sans-serif;
    color: #421C13;
    font-size: 17px;
    font-weight: 400;
    text-align: center;
}

.menu {
    margin-bottom: 245px;
    padding-left: 64px;
}

.menu-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

ul {
    margin: 0;
    padding: 0;
}

.configuracoes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.historico {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-bottom: 245px;
}


.painelBaixo {
    display: flex;
    background-color: #B8937D;
    width: auto;
    height: auto;
    flex-direction: column;
    align-items: center;
}

.painelBaixo ul li {
    display: flex;
    font-size: 17px;
    gap: 9px;
    font-family: "Roboto", sans-serif;
    color: #421C13;
    font-size: 17px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 10px;
    padding-bottom: 37px;
}



.mainDashboard {
    display: flex;
    flex-direction: row;
    width: 80%;
}

.nav_bar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    /* width: 80%; */
    /* height: 30%; */


}

.texto {
    text-decoration: none;
    display: flex;
    color: #421C13;
    font-weight: 500;
    flex-direction: column;
    margin-left: 60px;
    font-family: 'Cinzel', serif;
}



.navbar_direita {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 13vh;
    margin-left: 193px;
    gap: 25px;
}

.navbar_direita span {
    font-family: 'Roboto', sans-serif;
}

/* .indicadores{
display: flex;
position: absolute;
width: 969px;
height: 174px;
left: 322px;
top: 147px;

background: #D2BBB4;
border-radius: 10px;

} */

.indicadores {
    display: flex;
    flex-direction: row;

}
.indicador_esquerda{
    display: flex;
    flex-direction: column;
}

.painel_ideal {
    display: flex;
    position: absolute;
    top: 138px;
    left: 322px;
    flex-direction: row;
    background-color: #d2bbb4;
    width: 494px;
    height: 143px;
    border-radius: 15px;

}


.painel_ideal p {
font-family: 'Roboto', sans-serif;
font-size: 20px;
font-weight: 400;
text-align: center;
}

.painel_ideal h1{
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    text-align: center;

}
.painel_media p {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    }
    
    .painel_media h1{
        font-family: 'Roboto', sans-serif;
        font-size: 30px;
        text-align: center;
    
    }
.temperatura_ideal{
    display: flex;
    flex-direction: column;
    border-right:  2px solid black;
    height: 100%;
    width: 50%;
    align-items: center;

    
}
.umidade_ideal{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 50%;
    align-items: center;
}
.painel_media{

display: flex;
position: absolute;
width: 494px;
height: 200px;
left: 322px;
top: 307px;

background: #D2BBB4;
border-radius: 15px;
z-index: 1;


}
.temperatura_media{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #B8937D;
    /* border-right:  2px solid black; */
    border-radius: 15px;
    width: 50%;
    height: 100%;


}
.umidade_media{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 50%;
    align-items: center;
}
.indicador_direita{
    display: flex;
    position: absolute;
    width: 445px;
    height: 368px;
    left: 844px;
    top: 138px;

background: #D2BBB4;
border-radius: 10px;

}
.legenda_coluna {
display: flex;
/* width: 100%; */
/* height: 100%; */
/* justify-content: center; */
flex-direction: column;
width: 400px;


}
.legenda_coluna p{
    font-size: 25px;
    text-align: center;
    width: 100%;
}
.legenda_coluna h1{
    font-size: 20px;
    text-align: center;
    width: 80%;
    margin-left: 10px;
}

.legenda_boa{
    background-color: #619B63;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    margin-left: 15px;
    margin-top:25px;
}
.linha_legenda{
    display: flex;
    flex-direction: row;
    font-size: 5px;
    

}
.legenda_amarela{
    background-color: #CEBD21;
    ;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    margin-left: 15px;
    margin-top: 15px;
}
.legenda_vermelha{
    background-color:#A02121;
    ;
    ;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    margin-left: 15px;
    margin-top: 25px;
    margin-right: 10px;
}

.legenda_mae{
    width: 300px;
    margin-left: 50px;
}
.legenda_bolinha{
    display: flex;
    flex-direction: row;
align-items: center;
text-align: center;
}
.legenda_final{
    display: flex;
    align-items: center;
}
.legenda_boa{
    text-align: center;
    align-items: center;
}
.legenda_bolinhaAmarela{
    display: flex;
    flex-direction: row;
align-items: center;
text-align: center;
}

.graficos {
    display: flex;
    flex-direction: row;
}

.grafico_temperatura {

    display: flex;
    position: absolute;
    width: 458px;
    height: 387px;
    left: 329px;
    top: 345px;

    background: #FDF7F5;
    border-radius: 10px;
    margin-top: 500px;

}

.grafico_umidade {


    position: absolute;
    width: 458px;
    height: 387px;
    left: 833px;
    top: 345px;

    background: #FDF7F5;
    border-radius: 10px;
    margin-top: 500px;
}


.grafico_temperatura {
    display: flex;
    /* align-items: center; */
}

.grafico_umidade {
    display: flex;
    /* width: 100%; */
}

.grafico1 {
    width: 100%;
    height: 100%;
    display: flex;
}

.grafico2 {
    display: flex;
    width: 100%;
    height: 100%;
}

